<form name="myForm" ng-submit="Add(myForm.$valid)">
<table class="table">

	<tbody>
			<tr>
				<td>Username</td>
				<td><input type="text" class="form-control" ng-model="Username" ng-required="true"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="text" class="form-control" ng-model="Password" ng-required="true"></td>
			</tr>	
			<tr>
				<td>Firstname</td>
				<td><input type="text" class="form-control" ng-model="FirstName" ng-required="true"></td>
			</tr>	
			<tr>
				<td>Last Name</td>
				<td><input type="text" class="form-control" ng-model="Surname" ng-required="true"></td>
			</tr>
			<tr>
				<td colspan="2"><button>Save</button></td>
			</tr>
	</tbody>
</table>
</form>