

<div class="container">
<br/>
	Search: <input type="text" ng-model="search">
<br/>
	<table class="table">

    	<thead>
      		<tr>
        		<th>Usename</th>
        		<th>Firstname</th>
        		<th>Lastname</th>
      		</tr>
    	</thead>

		
			<tbody>

				<tr ng-repeat="i in users | filter:search">
					<td>{{i.username}}</td>
					<td>{{i.firstname}} </td>
					<td>{{i.lastname}}</td>
				</tr>
			</tbody>
			</table>
 <button ng-click="userLogOut()">Logout </button>
 <button ng-click="Add_view()">Add User </button>
</div>